<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ htmlWebpackPlugin.options.title }}</title>

  <meta name="description" content="{{ htmlWebpackPlugin.options.title }}">

  {{#if webpackConfig.htmlElements.headTags }}
  <!-- Configured Head Tags  -->
  {{{ webpackConfig.htmlElements.headTags }}}
  {{/if}}
  <!-- base url -->
  <base href="{{ htmlWebpackPlugin.options.baseUrl }}">
</head>

<body>
  
  <app></app>
  
  <script>window.initial_state =
    {{#if htmlWebpackPlugin.options.metadata.isDevServer}}
    {{{ htmlWebpackPlugin.options.INITIAL_STATE }}}
    {{else}}
    ${data.initial_state}
    {{/if}}
  </script>
</body>
</html>
