<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ htmlWebpackPlugin.options.title }}</title>

  <meta name="description" content="{{ htmlWebpackPlugin.options.title }}">

  {{#if webpackConfig.htmlElements.headTags }}
  <!-- Configured Head Tags  -->
  {{{ webpackConfig.htmlElements.headTags }}}
  {{/if}}
  <!-- base url -->
  <base href="{{ htmlWebpackPlugin.options.baseUrl }}">
  <style>svg {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}
 
.rect {
  fill: none;
  stroke-width: 8px;
  stroke: black;
  stroke-dasharray: 40;
  stroke-dashoffset: 50%;
 
  animation: movedash 1.5s forwards 0s infinite;
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}</style>
</head>

<body>

  <app>
    <svg width="40" height="40" viewbox="0 0 40 40">
  <!-- <rect width="40" height="40" class="rect" />  <- this looks buggy in retina safari -->
  <polygon points="0 0 0 40 40 40 40 0" class="rect" />
</svg>
  </app>
  
  {{#if htmlWebpackPlugin.options.metadata.isDevServer }}
  {{#unless htmlWebpackPlugin.options.metadata.HMR}}
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  {{/unless}}
  {{/if}}
  
  {{#if htmlWebpackPlugin.options.metadata.isDevServer}}
  <script>window.initial_state = {{{ htmlWebpackPlugin.options.INITIAL_STATE }}}</script>
  {{else}}
  <script>window.initial_state = <%= {:safe, initial_state} %></script>
  {{/if}}
  
</body>
</html>
